.wrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 200ms;
}

.expandable {
  min-height: 0;
}

.arrow {
  transition: rotation 200ms;
}

input:checked ~ .expandable {
  grid-template-rows: 1fr;
}

input:checked ~ .arrow {
  transform: rotate(90deg);
}
/* .expander {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 1s;
}
.expander-content {
  min-height: 0;
  transition: visibility 1s;
  visibility: hidden;
}
.expander.expanded {
  grid-template-rows: 1fr;
}
.expander.expanded .expander-content {
  visibility: visible;
} */
