.test::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  top: -5px;
  right: 15px;
  transform: rotate(45deg);
  border-top: 1px solid #00000020;
  border-left: 1px solid #00000020;
}
